@import url('./font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;   

html{
  @apply scroll-smooth;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
#app {
  font-family: 'Sofia Pro', sans-serif;
}
.row{
  @apply w-[100%] max-w-[1440px] mx-auto;
}
.btn{
  @apply px-6 py-2 rounded-[40px] text-base  font-medium bg-white text-blue cursor-pointer transition-all duration-200 hover:bg-yellow hover:text-blue capitalize; 
}
.btn-blue{
  @apply px-12 py-[10px] rounded-[40px] text-lg font-medium bg-blue text-white cursor-pointer transition-all duration-200 hover:bg-yellow hover:text-blue capitalize; 
}
.btn-yellow{
  @apply px-12 py-[10px] rounded-[40px] text-lg font-medium bg-yellow text-blue cursor-pointer transition-all duration-200 hover:bg-white capitalize; 
}

.main-heading{
  @apply font-bold text-3xl text-blue leading-none mb-4 max-md:text-2xl;
}
.heading{
  @apply text-blue text-xl mb-4 font-bold leading-8 max-md:text-base ;
}
.sub-heading{
  @apply text-blue text-base mb-4 leading-none;
}
